<%provide(:title, "About") %>
<div id="page_wrapper">
  <div id="span8">
    <h2>Welcome to the Leatherwood Hi-Lux Blog!</h2>
    <h3>Please check back periodically for compelling commentaries, the latest news and updates from Leatherwood Hi-Lux.</h3>
    <h4>See a typo/mistake? Please report it to <a href="mailto:info@hi-luxoptics.com">info@hi-luxoptics.com</a></h4>
    <p>
      Visit our website @ <%= link_to 'www.hi-luxoptics.com', 'http://www.hi-luxoptics.com' %>
    </p>
  </div>
</div>
