<%provide(:title, "About") %>
<div id="page_wrapper">
  <div id="profile_image">
    <!-- add image  -->
    <%= image_tag 'logo.png' %>
  </div>

  <div id="content">
    <h1>Hey, my name is Christopher Wu</h1>
    <p>
      Check out our <%= link_to 'Website', 'http://www.hi-luxoptics.com' %>
    </p>
  </div>
</div>
