<h3>Welcome <%= @email %> to the Leatherwood Hi-Lux Blog!</h3>
<hr>
<h4>Please confirm your account email through the link below:</h4>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
