<%=image_tag 'hiluxoptics_banner.png' style:"position: fixed; padding:10px; margin:5px;" alt:"Leatherwood Hi-Lux Optics" %>
<h3>Welcome <%= @email %> to the Leatherwood Hi-Lux Blog!</h3>
<hr>
<h4>Please confirm your account email through the link below:</h4>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
