<div class="bottom">
    <div class="container">
        <div class="col-md-4 text-left">
            <h3 class="center-block"><i class="fa fa-crosshairs"></i> Hi-Lux Optics</h3>
            <h4 class="center-block"><i class="fa fa-building-o"></i> 3135 Kashiwa Street<br>&nbsp;&nbsp;&nbsp;&nbsp;Torrance, CA 90505<br><i class="fa fa-phone"></i> Tel: (888)Hi-Lux12<br>
            <i class="fa fa-fax"></i> Fax: (310)257-8096<br>
            <%= link_to '<i class="fa fa-envelope-o"></i> Email: info@hi-luxoptics.com'.html_safe, "mailto:info@hi-luxoptics.com", class:"" %>
            </h4>
        </div>
        <div class="col-md-4">
            <h3 class="text-center"><i class="fa fa-users"></i> Stay Connected</h3>
            <h5><i class="fa fa-facebook-square fa-2x"></i> Like us on <a href="http://www.facebook.com/LeatherwoodHiLuxOptics">Facebook</a> to stay tuned to our latest news and developments!</h4>
            <h5><i class="fa fa-twitter fa-2x"></i> Follow us on <a href="http://www.twitter.com/HiLuxOptics">Twitter</a> for new press releases and breaking news coverage! </h4>
            <h5><i class="fa fa-instagram fa-2x"></i> Like, comment or add to our awesome picture collection on <a href="https://instagram.com/leatherwoodoptics/">Instagram!</a></h4>
        </div>
        <div class="col-md-4 text-center">
            <h3><i class="fa fa-connectdevelop"></i> Resources</h3>
            <h5><i class="fa fa-info-circle"></i> <%= link_to "About Us", about_path%></h5>
            <h5><i class="fa fa-hand-o-right"></i> <%= link_to "Hi-Lux Optics", "http://www.hi-luxoptics.com"%> Website</h5>
        </div>
    </div>
</div>
