<div id="sidebar">
  <ul>
    <li class="category">Social</li>
    <li> <%= link_to "Facebook", "http://www.facebook.com/leatherwoodhiluxoptics"%></li>
    <li> <%= link_to "Twitter", "http://www.twitter.com/hiluxoptics" %></li>
    <li> <%= link_to "Instagram", "http://www.instagram.com/leatherwoodoptics" %> </li>
  </ul>


</div>
